{% extends 'main/base.html' %}
{% load static %}

{% block page_content %}

	<!-- секция УСЛУГИ начало -->
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
	  <div class="col-md-7 heading-section text-center ftco-animate">
		<h2 class="mb-4">Услуги</h2>
		<p>В работата си ние хармонично съчетаваме високия професионализъм с топлината и искрена грижа</p>
	  </div>
	</div>
	<div class="row">
		<div class="col-md-3 ftco-animate">
			<div class="pricing-entry pb-5 text-center" style="background: url({% static 'images/service1-1.webp' %}); height:500px;">
				<div class="mb-10" style="padding-top: 200px;">
					<h3 class="mb-4">Фризьорство</h3>
					<p >Коафьорите в студио за красота "Blooms by beauty" са високо квалифицирани специалисти доказали своите умения.</p>
				</div>
				<p class="button text-center"><a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">Вижте повече...</a></p>
			</div>
		</div>
		<div class="col-md-3 ftco-animate">
			<div class="pricing-entry pb-5 text-center" style="background: url({% static 'images/service1-2.webp' %}); height:500px;">
				<div class="mb-10" style="padding-top: 200px;">
					<h3 class="mb-4">Козметика и Грим</h3>
					<p >Салони за красота "Blooms by beauty" разполагат с модерно оборудвани козметични кабинети, където ще ви обслужат високо квалифицирани, компетентни специалисти.</p>
				</div>
				<p class="button text-center"><a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">Вижте повече...</a></p>
			</div>
		</div>
		<div class="col-md-3 ftco-animate">
			<div class="pricing-entry pb-5 text-center" style="background: url({% static 'images/service1-3.webp' %}); height:500px;">
				<div class="mb-10" style="padding-top: 200px;">
					<h3 class="mb-4">Маникюр и педикюр</h3>
					<p >Ние работим с едни от най-добрите професионални марки за маникюр - Claresa, Cuccio и др. Грижата за здравето на кожата на ръцете и перфектния маникюр са нашето мото</p>
				</div>
				<p class="button text-center"><a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">Вижте повече...</a></p>
			</div>
		</div>
		<div class="col-md-3 ftco-animate">
			<div class="pricing-entry pb-5 text-center" style="background: url({% static 'images/service1-4.webp' %}); height:500px;">
				<div class="mb-10" style="padding-top: 200px;">
					<h3 class="mb-4">Апаратни процедури</h3>
					<p >Салони за красота Beautymall Studio са оборудвани с последно поколение италианска апаратура, която е сертифицирана по FDA американската асоциация за контрол на храните и лекарствата.</p>
				</div>
				<p class="button text-center"><a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">Вижте повече...</a></p>
			</div>
		</div>
	</div>
		</div>
	</section>
	<!-- секция УСЛУГИ край -->

	<!-- секция "Партньори"  начало -->
    <section class="ftco-partner bg-light">
    	<div class="container">
    		<div class="row partner justify-content-center">
    			<div class="col-md-10">
    				<div class="row">
		        	<div class="col-md-3 ftco-animate">
		        		<a href="#" class="partner-entry">
		        			<img src="{% static 'images/partner-1.jpg' %}" class="img-fluid" alt="Colorlib template">
		        		</a>
		        	</div>
		        	<div class="col-md-3 ftco-animate">
		        		<a href="#" class="partner-entry">
		        			<img src="{% static 'images/partner-2.jpg' %}" class="img-fluid" alt="Colorlib template">
		        		</a>
		        	</div>
		        	<div class="col-md-3 ftco-animate">
		        		<a href="#" class="partner-entry">
		        			<img src="{% static 'images/partner-3.jpg' %}" class="img-fluid" alt="Colorlib template">
		        		</a>
		        	</div>
		        	<div class="col-md-3 ftco-animate">
		        		<a href="#" class="partner-entry">
		        			<img src="{% static 'images/partner-4.jpg' %}" class="img-fluid" alt="Colorlib template">
		        		</a>
		        	</div>
	        	</div>
	        </div>
        </div>
    	</div>
    </section>
	<!-- секция "Партньори" край -->

	<!-- секция "Броячи"  начало -->
	<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'images/bg_4.jpg' %});">
		<div class="overlay"></div>
     	<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="row">
					  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
						  <div class="text">
							<div class="icon"><span class="flaticon-flower"></span></div>
							<span>Клиенти</span>
							<strong>+</strong><strong class="number" data-number="350">0</strong>
						  </div>
						</div>
					  </div>
					  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
						  <div class="text">
							<div class="icon"><span class="flaticon-flower"></span></div>
							<span>Терапии</span>
							<strong class="number" data-number="150">0</strong>
						  </div>
						</div>
					  </div>
					  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
						  <div class="text">
							<div class="icon"><span class="flaticon-flower"></span></div>
							<span>Процедури</span>
							<strong class="number" data-number="180">0</strong>
						  </div>
						</div>
					  </div>
					  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
						  <div class="text">
							<div class="icon"><span class="flaticon-flower"></span></div>
							<span>Ноктопластики</span>
							<strong class="number" data-number="420">0</strong>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
			</div>
		</div>
    </section>
	<!-- секция "Броячи" край -->
{% endblock %}
